/* shared styles section  */

.Primary-clr{
    color: red;
}
*{
    margin: 0px;
    padding: 0px;
}

.btn-two{
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
}

/* Nav Relatate styles  */
.web-menu {
    display: flex;
    background-color: lightgray;
    justify-content: space-around;
    padding: 20px;
    align-items: center;

}
.menus{
    display: flex;
    gap: 20px;
    list-style: none; 
    
}

 .menus a{
    text-decoration: none;
    color: black;
} 
.digital-logo{
    display: flex;
    align-items: center;
}

/* Banner Relatate Styles */
.banner{
    height: 100vh;
    background-image: url('../images/background.jpg'),linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center; 
    text-align: center; 
    justify-content: center;
}
.banner-title{
    font-size: 50px;
    font-weight: bold;
    color: white;
}


.banner-description{
    color: white;
    width: 70%;
    margin: auto;
}
.btn{
    padding: 10px 20px;
    background-color: tomato;
    border: none;
}

/* Section Relatate Styles */

.Service-section{
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    padding: 50px;
    margin-top: 10px;
}
.service-title{
    color: white;
    font-size: 40px;
    margin-bottom: 10px;

}
.service-description{
    color: white;
    width: 50%;
    margin-bottom: 15px;
}
.section-list{
    color: white;
    padding-left: 15px;
    margin-bottom: 15px;
}
.ceo-ingo{
    display: flex;
    gap: 5px;
}
.ceo-profile{
    display: flex;
    padding-right: 50px;
    border-right: 1px solid red;
    
}
.author-img{
    height: 50px;
    width: 50px;
    border-radius: 25px;
}
.author-info{
    color: white;
    font-weight: bold;
}
.icon{
    height: 100px;
    width: 100px;
}
.box{
    height: 170px;
    width: 180px;
    padding: 25px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 10px;
}
.first-two-box{
    display: flex;
    gap: 5px;
}
.second-two-box{
    display: flex;
    gap: 5px;
    margin-top: 5px;
}

/* appoinment section styles */

.Appointment-section{
    background-color: red;
    width: 80%;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    gap: 30px;
    margin-top: -40px;
}
.phone-call{
    display: flex;
    align-items: center;
}

